PORT=8080
MONGODB_URI=mongodb://localhost:27017/black_red_messenger
JWT_SECRET=supersecretjwt
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
USE_FIREBASE=false
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
S3_BUCKET=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=
